.none {
	border: 1px solid rgba(0,0,0,0.3);
}

img, .gear {
  height: 60px;
  width: 60px;
}

.highlightA{
	background-color: red;
	border-radius: 10px;
}

.highlightB{
	background-color: yellow;
	border-radius: 10px;
}

.hidden{
	display: none;
}

