* {
	border: 1px solid rgba(0,0,0,0.3);
}

.abilitiesList img, .brandList img, .gearList img, .gear {
  height: 100px;
  width: 100px;
}

.abilitiesList {
	background-color: orange;
	radius: 10px;
}

.brandList {
	background-color: blue;
	radius: 10px;
}

.highlightA{
	background-color: red;
}

.highlightB{
	background-color: yellow ;
}

.hidden{
	display: none;
}

